[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"
matplotlib = "*"
pylint = "*"

[packages]
numpy = "*"
pytest = "*"
jupyter = "*"
pandas = "*"
scipy = "*"
scikit-learn = "*"

[requires]
python_version = "3.9"
